networks:
  kyjuanbrown_net:
    driver: bridge

services:
  redis:
    image: redis:7-alpine
    container_name: kyjuanbrown-redis
    restart: always
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - kyjuanbrown_net

  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - kyjuanbrown_net

  api:
#    image: softvence/kyjuanbrown-backend:latest
    build: .
    container_name: kyjuanbrown_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./media:/app/media
    restart: always
    depends_on:
      - db
      - redis
    command: >
      sh -c "
        aerich init-db || true &&
        aerich migrate &&
        aerich upgrade || aerich upgrade --fake &&
        uvicorn app.main:app --host 0.0.0.0 --port 8000
      "
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/health || exit 1" ]
      interval: 15s
      timeout: 5s
      retries: 5

    networks:
      - kyjuanbrown_net

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/sites:/etc/nginx/conf.d
      # - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      # - ./nginx/sites:/etc/nginx/conf.d
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - kyjuanbrown_net

volumes:
  db_data: