name: Build, Docker & Deploy

on:
  push:
    branches: [deploy]

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/kyjuanbrown:latest
            ${{ secrets.DOCKER_USERNAME }}/kyjuanbrown:${{ github.sha }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build-and-push
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - name: Transfer project files
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME}}
          password: ${{ secrets.VPS_PASSWORD }}
          source: "compose.yml,.env"
          target: /home/${{ secrets.VPS_USERNAME}}/kyjuanbrown

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME}}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            set -e
            cd /home/${{ secrets.VPS_USERNAME}}/kyjuanbrown

            export $(grep -v '^#' .env | xargs)

            export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            docker compose pull
            docker compose down --remove-orphans
            docker compose up -d 
            docker system prune -f
